.footer-container {
    display: flex;
    flex-direction: column;
    height: 113px;
    background: #161616;
    color: #bebebe;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-media img {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #bebebe;
    display: inline-block;
    padding: 8px; 
    box-sizing: content-box;
  }
  
  .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #888;
    color: #888;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .mini-menu {
    display: flex;
    gap: 5px;
  }
  
  .mini-menu a {
    color: #888;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  
  .mini-menu a:hover {
    color: #bebebe;
  }

  .mini-menu a:not(:last-child)::after {
    content: '|';
    margin-left: 5px; 
    color: #bebebe; 
  }
  